[Unit]
Description=Astera Iptables Api
After=network.target
 
[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

Restart=on-failure
RestartSec=10

ExecStart=/usr/local/bin/iptables-api -htpasswd /etc/iptables-api/htpasswd -ip 0.0.0.0 -port 7898 -log=/var/log/iptables-api/access.log 

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/iptables-api
ExecStartPre=/bin/chmod 755 /var/log/iptables-api
ExecStartPre=/bin/mkdir -p /etc/iptables-api
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=iptables-api
 
[Install]
WantedBy=multi-user.target
